<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="<%= assets.vendor.css %>"/>
    <link href="<%= assets.main.css %>" rel="stylesheet"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <title><%= title %></title>
</head>
<body>
<div id="app" >
    <div id="preloader">

    </div>
</div>
<script src="<%= assets.runtime.js %>" async></script>
<script src="<%= assets.vendor.js %>" async></script>
<script src="<%= assets.main.js %>" async></script>
</body>
</html>
